.project-layout {
  height: 100%;
}

.project-header {
  background-color: transparent;
  padding-top: 40px;
}

.project-page-header {
  display: flex;
  align-items: center;
}

.project-content {
  width: 100%;
  height: 100%;
}
